
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br/>
<div style="text-align:center" class="alert alert-success">
   Đơn hàng của quý khách đã được xác nhận thành công. Vui lòng đợi trong vòng 24h ,Vsmobile sẽ giao hàng tận nơi cho quý khách
</div>

