
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!--Facebook API-->
<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1605289023106792";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!--end-->
<div class="main-container col2-right-layout">
    <div class="main container">
        <section class="col-main col-sm-9 wow bounceInUp animated">
         
            <p style="text-align: justify;"><span style="color: #ea377c;"><strong>VSMobile</strong></span> được thành lập từ năm 2016, là chuỗi cửa hàng đi đầu trong các sản phẩm thiết yếu chính hãng với chất  lượng an toàn và giá thành phù hợp với mọi gia đình.</p>
            <p style="text-align: justify;">Với tầm nhìn xây dựng chuỗi 100 cửa hàng trên toàn quốc vào cuối năm 2020 và mang lại những sản phẩm tốt nhất cho Quý khách hàng, VSMobile đã, đang và sẽ không ngừng cải thiện cả về chất lượng sản phẩm  lẫn dịch vụ chăm sóc khách hàng để mang đến những sản phẩm tốt nhất cho Khách hàng</p>
            <p style="text-align: justify;">Dòng sản phẩm tại VSMobile gồm 7 nhóm chính: </p>
            <ul>
                <li><strong><a href="#">Apple</a></strong>: vị trí số 1 trong lòng người tiêu dùng trên khắp thế giới bởi sự “đẳng cấp” trong thiết kế cũng như chất lượng sản phẩm</li>
                <li><a href="#"><strong>Dell</strong>:</a> : đã đạt vị trí số 1 về hạng mục của sự đổi mới, giá trị và lựa chọn cũng như về âm thanh  </li>
                <li><strong><a href="#">Aus</a></strong>: khá sáng tạo và được yêu thích về tính thẩm mĩ của thiết kế tổng thể </li>
                <li><strong><a href="#">Acer</a></strong>: nổi bật như về giá trị lựa chọn, hay một đội hình Chromebook hùng hậ….</li>
                <li><strong><a href="#">Hp</a>:</strong> tin tưởng vào chất lượng hỗ trợ kĩ thuật của hãng. </li>
                <li><a href="#"><strong>MSI</strong>:</a> Sản phẩm có các laptop chơi game ấn tượng </li>
                <li><a href="#"><strong>Microsoft</strong> </a>thương hiệu Chromebook được người tiêu dùng yêu thích </li>
                <li><a href="#"><strong>Lenovo</strong> </a>cung cấp một sự kết hợp tốt giữa giá trị và lựa chọn </li>
            </ul>
            <p style="text-align: justify;">Hiện nay, VSMobile có gần đến 100 siêu thị trải dài trên tất cả các quận  tại Tp.Hồ Chí Minh và khắp các tỉnh thành lớn trên toàn quốc như: An  Giang, Bà Rịa Vũng Tàu, Bình Dương, Bình Phước, Bình Thuận, Cần Thơ, Đà Nẵng, Đăk Lăk, Đồng Nai, Khánh Hoà, Kiên Giang, Lâm Đồng, Long An, Tây  Ninh, Tiền Giang, Trà Vinh, Vĩnh Long. </p>
            <p style="text-align: justify;">Tiêu chí hoạt động của VSMobile là “MUA SẮM TIỆN LỢI – ĐẦY ĐỦ SẢN PHẨM” cam kết mang đến sản phẩm chất lượng cao với giá thành hợp lý, không những là không gian mua sắm thuận lợi, đáng tin cậy mà còn là người bạn đồng hành thân thiết với mọi gia đình Việt Nam. Ngoài ra, đến với VSMobile bạn sẽ có những trải nghiệm vô cùng khác biệt trong việc chọn lựa và sở hữu những sản phẩm độc quyền chỉ có duy nhất tại cửa hàng...</p>
            <p style="text-align: justify;"><br /><strong>Tại sao đến VSMobile?</strong></p>
            <ul>
                <li>VSMobile cung cấp đầy đủ mọi sản phẩm thiết yếu chính hãng cho khách hàng. </li>
                <li>Sản phẩm chất lượng cao đi đôi với giá thành hợp lý.</li>
                <li>VSMobile luôn có những chương trình khuyến mãi đa dạng, mang đến cho khách hàng nhiều cơ hội mua sắm hấp dẫn.</li>
                <li>Đội ngũ nhân viên bán hàng tại VSMobile tư vấn nhiệt tình, chăm sóc khách hàng chu đáo. </li>
                <li>VSMobile giao hàng đúng giờ, miễn phí trong khu vực nội thành và một số khu vực khác.</li>
                <li>VSMobile có chính sách bảo hành, đổi trả nhanh chóng.</li>
                <li>Không gian mua sắm tại VSMobile thoải mái, hiện đại với thiết kế màu sắc, âm thanh sinh động </li>
            </ul>
            <p style="text-align: justify;"><br /><strong>Cửa hàng hoạt động</strong>: từ 8h30 đến 22h00 tất cả các ngày trong tuần, kể cả Lễ, Tết.<br /><strong>Tìm cửa gần bạn nhất</strong>: <a href="/Pages/Hethongcuahang">https://vsmobile.tk/Pages/Hethongcuahang.html </a><br /><span style="color: #000;"><strong>Tổng đài Chăm Sóc Khách hàng: <strong style="color: #ea377c;">1800 6603</strong>    Mua hàng trực tuyến</strong>: </span><span style="color: #ea377c;"><strong>1800 6609</strong></span> từ 8h00 – 21h00 mỗi ngày. <br /><span style="color: #000000;"><strong>Đăng ký thành viên</strong> VSMobile </span>để nhận thông tin các chương trình khuyến mãi hấp dẫn hàng tuần<span style="color: #ea377c;"><strong> <a href="/DangkyDangnhap/Dangky">tại đây.</a></strong></span></p>  
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2F204178183341008%2Fphotos%2Fa.204178723340954.1073741827.204178183341008%2F204178680007625%2F%3Ftype%3D3&width=500" width="500" height="246" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            <div class="fb-like" data-href="https://vsmobile.tk" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
            <!--Comments Facebook-->
           
            <div class="clearfix"> </div>   
                       @* <div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/"></div>
        <div class="fb-comments" data-href="http://vsmobile.tk/Pages/Gioithieu" data-num-posts="5" data-width="700"></div> *@
            <div class="fb-comments" data-href="https://www.facebook.com/204178183341008/photos/a.204178723340954.1073741827.204178183341008/204178680007625/?type=3&theater" data-numposts="5"></div>
          </section>     

        <aside class="col-right sidebar col-sm-3 wow bounceInUp animated">

            <div class="side-nav-categories">
                <div class="block-title"><h2>Danh mục sản phẩm</h2></div>
                <div class="box-content box-category">
                    @Html.Action("Menuleft", "Dssanpham")
                </div>
            </div>


        </aside>
      
    </div>
</div>
