<footer style="text-align:left" class="footer bounceInUp animated">
    <div class="brand-logo ">
        <div class="container">
            <div class="slider-items-products">
                <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="~/Demo/Hinhanh/icon/apple_1426056127_1426670649-2-1_1442415627.png" alt="Apple" /></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="~/Demo/Hinhanh/icon/samsung_1426056218-1_1442415601.png" alt="Samsung" /></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="~/Demo/Hinhanh/icon/sony_1426670692-1_1442415576.png" alt="Sony" /></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x">
                                <img src="~/Demo/Hinhanh/icon/asus_1426056574_1426670948-1_1442415489.png" alt="Asus" />
                            </a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x"><img src="~/Demo/Hinhanh/icon/oppo_1426671012-1_1442415472.png" alt="Oppo" /></a>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <a href="#x">
                                <img src="~/Demo/Hinhanh/icon/lenovo_1426671264-1_1442415290.png" alt="Lenovo" />
                            </a>
                        </div>
                        <!-- End Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Demo/Script/baseController.js"></script>
    <div class="footer-top" style="background: #1295c7">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div class="block-subscribe">
                        <div class="newsletter">
                            <h4 style="margin-top:2%">Đăng ký nhận tin</h4>
                            <!--<input type="text" placeholder="Nhập địa chỉ email của bạn" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter1" name="email">
                            <button class="subscribe" title="Subscribe" type="submit"><span>Nhận tin</span></button>-->
                            <div class="form-subcribe">
                                <form accept-charset='UTF-8' action='/contact' id='contact' method='post'>
                                    <input name='FormType' type='hidden' value='contact' />
                                    <input name='utf8' type='hidden' value='true' />
                                    <input id="name" name="contact[Name]" type="text" value="Guest" class="form-control hidden">
                                    <input type="text" class="form-control hidden" name="contact[phone]" value="NaN" placeholder="Phone number">
                                    <textarea id="message" name="contact[Body]" class="form-control hidden" rows="7">Subcribe Email</textarea>
                                    <div id="mail-box">
                                        <input id="email" class="subcribe-email form-control" name="contact[email]" type="email" value="" class="input-text required-entry validate-email input_newsletter" placeholder="Email nhận tin">
                                        <button type="submit" class="subscribe"><span>Đăng ký</span></button>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="social">
                        <ul>

                            <li class="fb">
                                <a href="#"></a>
                            </li>


                            <li class="tw">
                                <a href="#"></a>
                            </li>


                            <li class="googleplus">
                                <a href="#"></a>
                            </li>


                            <li class="rss">
                                <a href="#"></a>
                            </li>


                            <li class="pintrest">
                                <a href="#"></a>
                            </li>


                            <li class="linkedin">
                                <a href="#"></a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle container">
        <div class="col-md-3 col-sm-4">
            <div class="footer-logo">
                <a href="/" title="Công nghệ số Accent">
                    <img src="~/Demo/Hinhanh/icon/Logobutton.jpg" alt="VSMobile.tk" />
                </a>
            </div>
            <p>VSMobile đã và đang tiếp tục khẳng định vị trí của người dẫn đầu thị trường cung cấp sản phẩm thiết bị điện tử và thiết bị di động liên tục cho thị trường trong nhiều năm qua.</p>
            <div class="payment-accept">
                <div><img src="https://bizweb.dktcdn.net/100/037/441/themes/187698/assets/payment-1.png?1477883023849" alt="payment"> <img src="https://bizweb.dktcdn.net/100/037/441/themes/187698/assets/payment-2.png?1477883023849" alt="payment"> <img src="https://bizweb.dktcdn.net/100/037/441/themes/187698/assets/payment-3.png?1477883023849" alt="payment"> <img src="https://bizweb.dktcdn.net/100/037/441/themes/187698/assets/payment-4.png?1477883023849" alt="payment"></div>
            </div>
        </div>

        <div class="col-md-2 col-sm-4">
            <h4>Về chúng tôi</h4>
            <ul class="links">

                <li class="first"><a href="/" title="Trang chủ">Trang chủ</a></li>

                <li class=""><a href="/gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>

                <li class=""><a href="/collections/all" title="Sản phẩm">Sản phẩm</a></li>

                <li class="last"><a href="/tin-tuc" title="Tin tức">Tin tức</a></li>

            </ul>
        </div>


        <div class="col-md-2 col-sm-4">
            <h4>Hỗ trợ</h4>
            <ul class="links">

                <li class="first"><a href="/search" title="Tìm kiếm">Tìm kiếm</a></li>

                <li class=""><a href="/account/login" title="Đăng nhập">Đăng nhập</a></li>

                <li class=""><a href="/account/register" title="Đăng ký">Đăng ký</a></li>

                <li class="last"><a href="/cart" title="Giỏ hàng">Giỏ hàng</a></li>

            </ul>
        </div>


        <div class="col-md-2 col-sm-4">
            <h4>Hướng dẫn</h4>
            <ul class="links">

                <li class="first"><a href="/dieu-khoan" title="Điều khoản">Điều khoản</a></li>

                <li class=""><a href="/huong-dan" title="Hướng dẫn">Hướng dẫn</a></li>

                <li class=""><a href="/chinh-sach" title="Chính sách">Chính sách</a></li>

                <li class="last"><a href="/lien-he" title="Liên hệ">Liên hệ</a></li>

            </ul>
        </div>

        <div class="col-md-3 col-sm-4">
            <h4>Liên hệ</h4>
            <div class="contacts-info">
                <address>
                    <i class="add-icon">&nbsp;</i>143A/47 Ung Văn Khiêm,p.25,q.Bình Thạnh,tp.HCM.
                </address>
                <div class="phone-footer"><i class="phone-icon">&nbsp;</i>04.6674.2332</div>
                <div class="email-footer"><i class="email-icon">&nbsp;</i> <a href="mailto:sangthanh052@gmail.com">sangthanh052@gmail.com</a></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom container">
        <div class="col-sm-5 col-xs-12 copyright">
            © Bản quyền thuộc VSMobile | <span class="provide">Cung cấp bởi <a href="https://VSMobile.tk" target="_blank" title="Bizweb">VSMOBILE</a></span>
        </div>
    </div>
</footer>
